.chem-phys-page-container {
  min-height: 100vh;
}
.chem-phys-page-chem-phys-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.chem-phys-page-headingrectangle {
  top: 92px;
  left: 635px;
  width: 624px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text {
  top: 92px;
  left: 660px;
  color: rgba(255, 255, 255, 1);
  width: 599px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-menubutton {
  top: 45px;
  left: 48px;
  width: 45px;
  height: 47px;
  position: absolute;
}
.chem-phys-page-quickmenu {
  top: 45px;
  left: 1506px;
  width: 368px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text02 {
  top: 59px;
  left: 1531px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-text04 {
  top: 59px;
  left: 1616px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-text06 {
  top: 59px;
  left: 1725px;
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphysfilescard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 789px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-chemphyprojpibcard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text08 {
  top: 25px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1460px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojkundtcard {
  top: 269px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard1 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text10 {
  top: 25px;
  left: 29px;
  color: rgba(126, 50, 50, 1);
  width: 1478px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojdpphcard {
  top: 357px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard2 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text12 {
  top: 23px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1692px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojinfracard {
  top: 445px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard3 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text14 {
  top: 22px;
  left: 28px;
  color: rgba(126, 50, 50, 1);
  width: 1672px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojjoulecard {
  top: 533px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard4 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text16 {
  top: 27px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1677px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojlasercard {
  top: 621px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard5 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text18 {
  top: 28px;
  left: 30px;
  color: rgba(126, 50, 50, 1);
  width: 1664px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-chemphyprojguoycard {
  top: 709px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard6 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text20 {
  top: 22px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 1670px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-themeselector {
  top: 39px;
  left: 884px;
  width: 167px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-themesrectangle {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-defaulttheme {
  top: 4px;
  left: 11px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.chem-phys-page-bluetheme {
  top: 4px;
  left: 45px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.chem-phys-page-blacktheme {
  top: 4px;
  left: 135px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.chem-phys-page-greentheme {
  top: 4px;
  left: 105px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.chem-phys-page-orangetheme {
  top: 4px;
  left: 75px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
