.chem-phys-page-container {
  min-height: auto;
  height: auto;
  width: auto;
}

.chem-phys-page-chem-phys-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.chem-phys-page-headingrectangle {
  top: 92px;
  left: 635px;
  width: 624px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

.chem-phys-page-text {
  top: 92px;
  left: 710px;
  color: rgba(255, 255, 255, 1);
  width: 599px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-menubutton {
  top: 45px;
  left: 48px;
  width: 45px;
  height: 47px;
  position: absolute;
}

.chem-phys-page-dev {
  left: 4px;
  top: 1060px;
  position: absolute;
  width: 258px;
  height: auto;
  color: rgb(126, 50, 50);
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.chem-phys-page-menubuttonhover {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.chem-phys-page-dropdownmenu {
  display: none;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-menubutton:hover .chem-phys-page-dropdownmenu {
  display: block;
}

.chem-phys-page-menubutton:hover .chem-phys-page-menubuttonhover {
  display: inline;
}

.chem-phys-page-quickmenu {
  top: 48px;
  left: 1395px;
  width: 480px;
  height: 37px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.248282432556152px;
}

.chem-phys-page-text02 {
  top: 55px;
  left: 1531px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  cursor: pointer;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text02:hover{
  text-decoration: underline overline;
  cursor: pointer;
}

.chem-phys-page-popup {
  display:none;
  -webkit-animation: fadeIn 0.7s;
  animation: fadeIn 0.7s;
}

/* Add animation for download popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.chem-phys-page-portfoliotext {
  top: 150px;
  left: 680px;
  color: rgba(126, 50, 50, 1);
  width: 544px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text04 {
  top: 55px;
  left: 1622px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text04:hover{
  text-decoration: underline overline;
}

.chem-phys-page-text06 {
  top: 55px;
  left: 1732px;
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text06:hover{
  text-decoration: underline overline;
}

.chem-phys-page-home {
  top: 55px;
  left: 1445px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-home:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphysfilescard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 789px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-chemphyprojpibcard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text08 {
  top: 25px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1460px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text08:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphyprojkundtcard {
  top: 269px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-compengfilescard1 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text10 {
  top: 25px;
  left: 29px;
  color: rgba(126, 50, 50, 1);
  width: 1478px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.chem-phys-page-text10:hover{
  text-decoration: underline overline;
}
.chem-phys-page-chemphyprojdpphcard {
  top: 357px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard2 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text12 {
  top: 23px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1692px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text12:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphyprojinfracard {
  top: 445px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-compengfilescard3 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}

.chem-phys-page-text14 {
  top: 22px;
  left: 28px;
  color: rgba(126, 50, 50, 1);
  width: 1672px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text14:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphyprojjoulecard {
  top: 533px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-compengfilescard4 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

.chem-phys-page-text16 {
  top: 27px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1677px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text16:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphyprojlasercard {
  top: 621px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-compengfilescard5 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}

.chem-phys-page-text18 {
  top: 28px;
  left: 30px;
  color: rgba(126, 50, 50, 1);
  width: 1664px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text18:hover{
  text-decoration: underline overline;
}

.chem-phys-page-chemphyprojguoycard {
  top: 709px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.chem-phys-page-compengfilescard6 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.chem-phys-page-text20 {
  top: 22px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 1670px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chem-phys-page-text20:hover{
  text-decoration: underline overline;
}

.chem-phys-page-themeselector {
  top: 39px;
  left: 870px;
  width: 167px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.chem-phys-page-themesrectangle {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 11.326000213623047px;
}

.chem-phys-page-defaulttheme {
  top: 4px;
  left: 11px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
 }

.chem-phys-page-defaulttheme:hover{
  border-width: 4px;
}

.chem-phys-page-bluetheme {
  top: 4px;
  left: 45px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.chem-phys-page-bluetheme:hover{
  border-width: 4px;
}

.chem-phys-page-blacktheme {
  top: 4px;
  left: 135px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.chem-phys-page-blacktheme:hover{
  border-width: 4px;
}

.chem-phys-page-greentheme {
  top: 4px;
  left: 105px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.chem-phys-page-greentheme:hover{
  border-width: 4px;
}

.chem-phys-page-orangetheme {
  top: 4px;
  left: 75px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  }

.chem-phys-page-orangetheme:hover{
  border-width: 4px;
}
