.elec-eng-page-container {
  min-height: 100vh;
}
.elec-eng-page-elec-eng-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.elec-eng-page-headingrectangle3 {
  top: 92px;
  left: 635px;
  width: 624px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text {
  top: 92px;
  left: 710px;
  color: rgba(255, 255, 255, 1);
  width: 599px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.elec-eng-page-menubutton {
  top: 45px;
  left: 48px;
  width: 45px;
  height: 47px;
  position: absolute;
}

.elec-eng-page-menubuttonhover {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.elec-eng-page-dropdownmenu {
  display: none;
}

.elec-eng-page-menubutton:hover .elec-eng-page-dropdownmenu{
  display: block;
}

.elec-eng-page-menubutton:hover .elec-eng-page-menubuttonhover{
  display: inline;
}

.elec-eng-page-quickmenu {
  top: 48px;
  left: 1395px;
  width: 480px;
  height: 37px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.248282432556152px;
}

.elec-eng-page-text02 {
  top: 55px;
  left: 1531px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text02:hover{
  text-decoration: underline overline;
}
.elec-eng-page-text04 {
  top: 55px;
  left: 1616px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text04:hover{
  text-decoration: underline overline;
}
.elec-eng-page-text06 {
  top: 55px;
  left: 1725px;
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text06:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengfilescard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 789px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-elecengprojanalogcard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text08 {
  top: 25px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1460px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text08:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengprojstmcard {
  top: 269px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard1 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text10 {
  top: 25px;
  left: 29px;
  color: rgba(126, 50, 50, 1);
  width: 1478px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.elec-eng-page-text10:hover{
  text-decoration: underline overline;
}

.elec-eng-page-elecengprojpowercard {
  top: 357px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.elec-eng-page-compengfilescard2 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text12 {
  top: 23px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1692px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text12:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengprojinductorcard {
  top: 445px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard3 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text14 {
  top: 22px;
  left: 28px;
  color: rgba(126, 50, 50, 1);
  width: 1672px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text14:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengproj-d-n-scard {
  top: 534px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard4 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text16 {
  top: 27px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1677px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text16:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengprojenergycard {
  top: 621px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard5 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text18 {
  top: 28px;
  left: 30px;
  color: rgba(126, 50, 50, 1);
  width: 1664px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-text18:hover{
  text-decoration: underline overline;
}

.elec-eng-page-home {
  top: 55px;
  left: 1433px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.elec-eng-page-home:hover{
  text-decoration: underline overline;
}
.elec-eng-page-elecengprojpcscard {
  top: 709px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-compengfilescard6 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.elec-eng-page-text20 {
  top: 22px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  width: 1670px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.elec-eng-page-text20:hover{
  text-decoration: underline overline;
}

.elec-eng-page-themeselector {
  top: 39px;
  left: 884px;
  width: 167px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.elec-eng-page-themesrectangle {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 11.326000213623047px;
}

.elec-eng-page-defaulttheme {
  top: 4px;
  left: 11px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.elec-eng-page-defaulttheme:hover{
  border-width: 4px;
}

.elec-eng-page-bluetheme {
  top: 4px;
  left: 45px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.elec-eng-page-bluetheme:hover{
  border-width: 4px;
}

.elec-eng-page-blacktheme {
  top: 4px;
  left: 135px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.elec-eng-page-blacktheme:hover{
  border-width: 4px;
}

.elec-eng-page-greentheme {
  top: 4px;
  left: 105px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.elec-eng-page-greentheme:hover{
  border-width: 4px;
}

.elec-eng-page-orangetheme {
  top: 4px;
  left: 75px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.elec-eng-page-orangetheme:hover{
  border-width: 4px;
}
