.home-page-container {
  min-height: 100vh;
}

.home-page-home-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
  object-fit:scale-down;
}


/* .home-page-homepagecard {
  top: 12.22%;
  left: 2.5%;
  width: 94.947%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
} */

.home-page-dev {
  left: 0.333%;
  top: 98.8481481485%;
  position: absolute;
  width: 100%;
  height: auto;
  color: rgb(126, 50, 50);
  font-size: 10px;
  font-style: normal;
  font-family: Roboto;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media only screen and (min-height:1081px) {
  .home-page-dev {
    display: none;
  }
}

.home-page-burgandycard {
  top: 12.22222%;
  left: 2.5%;
  width: 94.947%;
  height: 83.33333333%;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

/* 
   deco picture for small to medium phones and large viewports
   not included
*/
.home-page-decopicture {
  top: 13.562%;
  left: 8.362%;
  width: 76.7854%;
  height: 31.75925926%;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
  display: none;
}

/* 
  make decopicture (nelsonmandela) appear
*/
@media only screen and (min-width: 1201px){
  .home-page-decopicture {
      top: 13.852%;
      width: 54.545454545%;
      left: 3.452%;
      height: 79.9333333%;
      display: block;
  }
}


/* 
  make decopicture (nelsonmandela) disappear
*/
@media only screen  and (min-width: 641px) and (max-width: 1201px) {
  .home-page-decopicture {
      display: none;
  }
}

.home-page-decopicture-medlar {
  top: 13.562%;
  left: 8.362%;
  width: 76.8854%;
  height: 31.75925926%;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
  display: none;
}

/* 
  make decopicture (table mountain) disappear
*/
@media only screen and (min-width: 1201px) and (max-width: 1921px){
  .home-page-decopicture-medlar {
      display: none;
  }
}

/* 
  make decopicture (table mountain) appear
*/
@media only screen and (min-width: 641px) and (max-width: 1201px) {
  .home-page-decopicture-medlar {
      left: 4.762%;
      top: 58%;
      width: 90.899999%;
      height: 33.1333333%;
      display: block;
  }
}

@media only screen and (max-width: 641px){
  .home-page-decopicture-medlar {
      left: 6.762%;
      top: 58%;
      width: 87.899999%;
      height: 32.1333333%;
      display: block;
  }
}

/*
   Text Cape Town
 */

.home-page-text {
  top: 91.6666667%;
  left: 48.17708333%;
  color: rgba(255, 255, 255, 1);
  width: 12.84860121%;/*parent width */
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (min-width:1681px){
  .home-page-text {
      top: 92.16666667%;
      left: 48.026%;
      width: 24.84860121%;
      font-size: 1.05vw;
  }
}

@media only screen and (min-width: 1201px) and (max-width:1681px){
  .home-page-text {
      top: 92.16666667%;
      left: 48.226%;
      width: 24.84860121%;
      font-size: 1.05vw;
  }
}

@media only screen and (min-width: 641px) and (max-width:1201px) {
  .home-page-text {
      top: 92.36666667%;
      left: 6.726%;
      width: 24.84860121%;
      font-size: 13px;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-text {
      top: 91.66666667%;
      left: 10.826%;
      width: 18.84860121%;
      font-size: 12px;
  }
}

@media only screen and (max-width: 428px) {
  .home-page-text {
      top: 91.66666667%;
      left: 10.826%;
      width: 22.84860121%;
      font-size: 12px;
  }
}

.home-page-text:hover{
  text-decoration: underline overline;
}

.home-page-text02 {
  top: 92.666666667%;
  left: 71%;
  color: rgba(255, 255, 255, 1);
  width: 8.072916667%;
  height: auto;
  position: relative;
  font-size: 18px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  overflow: hidden;
}

.home-page-text02:hover{
  text-decoration: underline overline;
}

@media only screen and (min-width: 1681px) {
  .home-page-text02 {
      top: 91.66666667%;
      left: 71.726%;
      width: 24.84860121%;
      font-size: 1.15vw;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1681px) {
  .home-page-text02 {
      top: 92.06666667%;
      left: 71.726%;
      width: 24.84860121%;
      font-size: 1.15vw;
  }
}


@media only screen and (min-width: 641px) and (max-width:1201px) {
  .home-page-text02 {
      top: 92.36666667%;
      left: 41.726%;
      width: 18.84860121%;
      font-size: 14px;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-text02 {
      left: 40.652%;
      width: 30%;
      font-size: 12px;
  }
}

.home-page-text04 {
  top: 79.44444%;
  left: 59.6354%;
  color: rgba(255, 255, 255, 1);
  width: 14.0625%;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  transition: 50ms;
}

.home-page-text04:hover{
  text-decoration: underline overline;
}

@media only screen and (min-width: 1201px) {
  .home-page-text04 {
      top: 83.916%;/*19% * 1.618*/
      left: 59.367%;
      width: 27%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1201px) {
  .home-page-text04 {
      top: 54.916%;/*19% * 1.618*/
      left: 4.726%;
      width: 27%;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-text04 {
      top: 55.36%;/*19% * 1.618*/
      left: 8.326%;
      width: 27%;
  }
}

/* @media only screen and (max-width: 428px) {
  .home-page-text04 {
      top: 90.60%;
      left: 8.326%;
      width: 27%;
  }
} */

/* @media only screen and (max-width: 395px) {
  .home-page-text04 {
      top: 64.36%;
      left: 8.326%;
      width: 27%;
  }
}

@media only screen and (max-width: 376px) {
  .home-page-text04 {
      left: -22%;
      top: %;
      width: 27%;
      position: relative;
  }
} */

@media only screen and (max-width: 571px) and (min-width: 428) {
  .home-page-text04 {
      left: 55.36%;
      top: 57%;
      width: 27%;
  }
}

@media only screen and (max-width: 361px) {
  .home-page-text04 {
      left: 8.362%;
      top: 55%;
      width: 27%;
  }
}

.home-page-text06 {
  top: 66.1111%;
  left: 59.6354%;
  color: rgba(255, 255, 255, 1);
  width: 33.02%;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1201px) and (max-width:2241px) {
  .home-page-text06 {
      top: 64.36%;/*19% * 1.618*/
      left: 59.326%;
      width: 35%;
      font-size: 1.1718vw;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1201px) {
  .home-page-text06 {
      top: 37.36%;/*19% * 1.618*/
      left: 4.726%;
      width: 80%;
      font-size: 2.018vw;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-text06 {
      top: 37.36%;/*19% * 1.618*/
      left: 8.326%;
      width: 78%;
      font-size: 3.1718vw;
  }
}

@media only screen and (max-width: 361px) {
  .home-page-text06 {
      top: 37.36%;/*19% * 1.618*/
      left: 8.326%;
      width: 78%;
      font-size: 3.8718vw;
  }
}

.home-page-text08 {
  top: 59.62962963%;
  left: 59.63541667%;
  color: rgba(255, 255, 255, 1);
  width: 5.20833333%;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (min-width: 1201px) {
  .home-page-text08 {
    top: 55.056%;
    left: 59.639%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1201px) {
  .home-page-text08 {
    top: 33.056%;
    left: 4.726%;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-text08 {
    top: 33.056%;
    left: 8.326%;
  }
}

.home-page-quickmenu {
  top: 4.4444444%;
  left: 53.69%;
  width: 18.698%;
  height: 3.425925826%;
  position: relative;
  border-color: transparent;
  border-radius: 8.248282432556152px;
  display: none;
}

@media only screen and (min-width:1681px) {
  .home-page-quickmenu {
    display: block;
  }
}

.home-page-text10 {
  top: 17.31481481%;
  left: 59.63541667%;
  color: rgba(255, 255, 255, 1);
  width: 17.08333333%;
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

/* large viewport*/
@media only screen and (min-width: 1201px) {
  .home-page-text10 {
    font-size: 4.265208333vw;
    left: 58.835416667%;
    top: 13.562%;
    font-size: 3.166666667vw;
  }
}

/* medium to large viewport*/
@media only screen and (min-width: 641px) and (max-width: 1201px) {
  .home-page-text10 {
    font-size: 55.012px;
    left: 4.326%;
    top: 13.562%;
  }
}

/* small to medium to large viewport */
@media only screen and (max-width:641px) {
  .home-page-text10 {
    font-size: 34px;
    left: 8.326%;
    top: 13.562%;
  }
}

/* small viewport */
@media only screen and (max-width:428px) {
  .home-page-text10 {
    font-size: 30px;
    left: 8.326%;
    top: 13.562%;
  }
}

.home-page-text12 {
  top: 31.2962963%;
  left: 59.63541667%;
  color: rgba(255, 255, 255, 1);
  width: 17.08333333%;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (max-width: 642px) {
  .home-page-text12 {
    top: 20.034%;
    left: 8.326%;
    font-size: 24px;
    width: 30.083333%;
  }
}

@media only screen and (min-width: 642px) and (max-width: 1201px) {
  .home-page-text12 {
    top: 20.034%;
    left: 4.726%;
    font-size: 24px;
    width: 30.083333%;
  }
}

.home-page-text17 {
  top: 5.092592593%;
  left: 79.58333333%;
  color: rgba(255, 255, 255, 1);
  width: 3.02083333333%;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (min-width:641px) and (max-width:1682px){
  .home-page-text17 {
    top: 5.65%;
    font-size:1.625vw;
    display: none;
  }
}

@media only screen and (max-width:641px) {
  .home-page-text17 {
    font-size:12px;
    display: none;
  }
}

.home-page-text17:hover{
 text-decoration: underline overline;
}

.home-page-text19 {
  top: 55px;
  left: 84.44791667%;
  color: rgba(255, 255, 255, 1);
  width: 4.21875%;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.home-page-text19:hover{
  text-decoration: underline overline;
}

@media only screen and (min-width:641px) and (max-width:1681px){
  .home-page-text19 {
    display: none;
  }
}

@media only screen and (max-width:641px) {
  .home-page-text19 {
    display: none;
  }
}

.home-page-text21 {
  top: 55px;
  left: 90.67708333%;
  color: rgba(255, 255, 255, 1);
  width: 5.989583333;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (max-width:641px) {
  .home-page-text21 {
    font-size:12px;
    display: none;
  }
}

@media only screen and (min-width:641px) and (max-width:1682px){
  .home-page-text21 {
    top: 5.65%;
    font-size:1.625vw;
    display: none;
  }
}


.home-page-text21:hover{
  text-decoration: underline overline;
}

/* 
  Profile picture
*/
.home-page-profilepicture {
  top: 13.562%;
  left: 80.7291%;
  width: 15.8854%;
  height: 343px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

/* 
  Profile picture really large
*/
@media only screen and (min-width:1681px) and (max-width:1881px) {
  .home-page-profilepicture {
    top: 13.42592586%;
    height: 32.259259%;
    left: 78.4%;
    width: 18.214%;
  }
}

/* 
  Profile picture tablet large
*/
@media only screen and (min-width:1201px) and (max-width:1681px) {
  .home-page-profilepicture {
    top: 13.42592586%;
    height: 31.259259%;
    left: 78.4%;
    width: 18.214%;
  }
}

/* 
  Profile picture large
*/
@media only screen and (min-width:1081px) and (max-width:1201px) {
  .home-page-profilepicture {
    top: 13.42592586%;
    height: 21.259259%;
    left: 67.8%;
    width: 28.214%;
  }
}

/* 
  Profile picture medium large
*/
@media only screen and (min-width:721px) and (max-width:1081px) {
  .home-page-profilepicture {
    top: 13.42592586%;
    height: 21.259259%;
    left: 67.1%;
    width: 28.214%;
  }
}

/* 
  Profile picture medium
*/
@media only screen and (min-width:641px) and (max-width:721px) {
  .home-page-profilepicture {
    top: 13.42592586%;
    height: 21.259259%;
    left: 58.1%;
    width: 37.214%;
  }
}

/* 
  Profile picture small to medium
*/
@media only screen and (min-width:331px) and (max-width:641px) {
  .home-page-profilepicture {
    top: 13.562%;
    height: 21.59259259%;
    left: 49.4634343%;
    width: 45%;
  }
}

@media only screen and (min-width:309px) and (max-width:331px) {
  .home-page-profilepicture {
    top: 13.562%;
    height: 21.59259259%;
    left: 171px;
    width: 39.5%;
  }
}

@media only screen and (max-width:331px) {
  .home-page-profilepicture {
    display: none;
  }
}
.home-page-text23 {
  top: 84px;
  left: 47.78125%;
  color: rgba(166, 64, 96, 1);
  width: 11.875%;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media only screen and (min-width:1079px) and (max-width:1201px) {
  .home-page-text23{ 
      left: 47.7815%;
  }
}

@media only screen and (min-width:879px) and (max-width:1079px) {
  .home-page-text23{ 
      left: 47.97815%;
  }
}


@media only screen and (min-width:642px) and (max-width:879px) {
  .home-page-text23{ 
      left: 45.97815%;
  }
}

@media only screen and (min-width:519px) and (max-width:642px) {
  .home-page-text23{ 
      left: 41.98015%;
  }
}

@media only screen and (min-width:479px) and (max-width:519px) {
  .home-page-text23{ 
      left: 39.1815%;
  }
}

@media only screen and (min-width:419px) and (max-width:479px) {
  .home-page-text23{ 
      left: 37.8815%;
  }
}

@media only screen and (min-width:359px) and (max-width:419px) {
  .home-page-text23{ 
      left: 38.2815%;
  }
}

/* small screen Home text moves more to the left*/
@media only screen and (min-width:309px) and (max-width:359px) {
  .home-page-text23{ 
      left: 36.9815%;
  }
}

@media only screen and (max-width: 309px) {
  .home-page-text23 {
    left: 35.9815%;
  }
}

.home-page-menubutton {
  top: 4.166666667%;
  left: 2.5%;
  width: 2.34375%;
  height: 4.351851852%;
  position: absolute;
}

@media only screen and (max-width:641px) {
  .home-page-menubutton {
    width: 0.618%;
  }
}

.home-page-menubuttonhover {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

/* .home-page-menubutton:hover .home-page-menubuttonhover{
  display: inline;
}

@media only screen and (max-width:1201px) {
  .home-page-menubutton:hover .home-page-menubuttonhover{
    display: none;
  } 
}

@media only screen and (min-width:1201px) {
  .home-page-menubutton:hover .home-page-dropdownmenu{
    display: block;
  } 
}

@media only screen and (max-width:1201px) {
  .home-page-menubutton:hover .home-page-mediummenu{
    display: block;
  } 
} */

/* .home-page-nelsonmandela1 {
  top: 617px;
  left: 531px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
}

@media only screen and (max-width: 641px) {
  .home-page-nelsonmandela1 {
      display: none;
  }
} */

.home-page-icongithub {
  top: 91.66666667%;
  left: 83.3333333%;
  width: 25px;
  height: 38px;
  position: absolute;
}

@media only screen and (min-width: 1201px) {
  .home-page-icongithub {
      top: 90.966667%;
      left: 92.3333333%;
  }
}

@media only screen and (min-width: 641px) and (max-width:1201px) {
  .home-page-icongithub {
      top: 91.3666667%;
      left: 88.3333333%;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-icongithub {
      left: 81.3333333%;
  }
}

/* .home-page-icongithub:hover{
  border-radius: 50%;
  -webkit-box-shadow: -5px 5px 5px -5px rgba(255, 255, 255, 255);
  -moz-box-shadow: -5px 5px 5px -5px rgba(255, 255, 255, 255);
  box-shadow: -5px 5px px -5px rgba(255, 255, 255, 255);
} */

.home-page-iconlinkedin {
  top: 91.66666667%;
  left: 94.583333333%;
  width: 22px;
  height: 22px;
  position: absolute;
}

@media only screen and (min-width:1201px) {
  .home-page-iconlinkedin {
      top: 91.56666667%;
      left: 94.83333%;
  }
}

@media only screen and (min-width: 641px) and (max-width:1201px) {
  .home-page-iconlinkedin {
      top: 91.96666667%;
      left: 92.9333333%;
  }
}

@media only screen and (max-width: 641px) {
  .home-page-iconlinkedin {
      top: 92.2666667%;
      left: 90.3333333%;
  }
}

.home-page-themeselector {
  top: 38px;
  left: 45.625%;
  width: 8.697916667%;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

@media only screen and (min-width: 1201px) and (max-width:1359px){
  .home-page-themeselector {
    left: 44.625%;
  }
}

@media only screen and (min-width: 1119px) and (max-width:1201px){
  .home-page-themeselector {
    left: 43.625%;
  }
}

@media only screen and (min-width: 1079px) and (max-width:1119px){
  .home-page-themeselector {
    left: 43.625%;
  }
}

@media only screen and (min-width:959px) and (max-width:1079px) {
  .home-page-themeselector{ 
      left: 43.97815%;
  }
}

@media only screen and (min-width:879px) and (max-width:959px) {
  .home-page-themeselector{ 
      left: 43.17815%;
  }
}


@media only screen and (min-width:799px) and (max-width:879px) {
  .home-page-themeselector{ 
      left: 39.97815%;
  }
}

@media only screen and (min-width:699px) and (max-width:799px) {
  .home-page-themeselector{ 
      left: 40.57815%;
  }
}


@media only screen and (min-width:642px) and (max-width:699px) {
  .home-page-themeselector{ 
      left: 38.97815%;
  }
}

@media only screen and (min-width:569px) and (max-width:642px) {
  .home-page-themeselector{ 
      left: 34.5815%;
  }
}

@media only screen and (min-width:519px) and (max-width:569px) {
  .home-page-themeselector{ 
      left: 33.9815%;
  }
}

@media only screen and (min-width:479px) and (max-width:519px) {
  .home-page-themeselector{ 
      left: 29.8815%;
  }
}

@media only screen and (min-width:419px) and (max-width:479px) {
  .home-page-themeselector{ 
      left: 27.8815%;
  }
}


@media only screen and (min-width:359px) and (max-width:419px) {
  .home-page-themeselector{ 
      left: 26.8815%;
  }
}

@media only screen and (min-width:309px) and (max-width: 359px) {
  .home-page-themeselector {
    left: 25.625%;
  }
}


@media only screen and (max-width:309px) {
  .home-page-themeselector {
    display: none;
  }
}

/* Location vector next to Cape Town text */
.home-page-vectorlocation {
  top: 91.9966667%;
  left: 49.0625%;
  width: 1.3020833333%;
  height: 25px;
  position: absolute;
}

@media only screen and (min-width: 1201px) {
  .home-page-vectorlocation { 
    left: 44.526%;
    width: 5.1%;
  }
}

@media only screen and (min-width: 641px) and (max-width:1201px) {
  .home-page-vectorlocation { 
    left: 4.326%;
    width: 2.1%;
  }
}


@media only screen and (max-width: 641px) {
  .home-page-vectorlocation { 
    left: 6.326%;
    width: 3.9%;
  }
}

.home-page-dropdownmenu {
  top: 32px;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: black;
}

.home-page-mediummenu {
  top: 0px;
  display: none;
  border-color: rgba(166, 64, 96, 1);
  border-right: 2px;
  background-color: white;
}

/* @media only screen and (min-width: 1201px) {
  .home-page-mediummenu {
    display: none;
  } 
}

@media only screen and (max-width: 1201px) {
  .home-page-dropdownmenu {
    display: none;
  }
}

@media only screen and (min-width:1201px) {
  .home-page-menubutton:hover .home-page-dropdownmenu{
    display: block;
  } 
}

@media only screen and (max-width:1201px) {
  .home-page-menubutton:hover .home-page-mediummenu{
    display: block;
  } 
} */
/* 
.home-page-icongithub2 {
  top: 154px;
  left: 294px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.home-page-iconlinkedin2 {
  top: 224px;
  left: 310px;
  width: 30px;
  height: 28px;
  position: absolute;
} */
/* 
.home-page-vectorinfo {
  top: 292px;
  left: 340px;
  width: 29px;
  height: 28px;
  position: absolute;
}

.home-page-vectoremail {
  top: 363px;
  left: 330px;
  width: 39px;
  height: 23px;
  position: absolute;
}

.home-page-text36 {
  top: 14px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  right: 0px;
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text38 {
  top: 82px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  right: 0px;
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text28 {
  top: 150px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text30 {
  top: 220px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text32 {
  top: 355px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  width: 471px;
  bottom: 13px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text34 {
  top: 286px;
  left: 0px;
  color: rgba(126, 50, 50, 1);
  right: 0px;
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-vectorportfolio {
  top: 89px;
  left: 308px;
  width: 26px;
  height: 25px;
  position: absolute;
}
.home-page-vectorhome {
  top: 23px;
  left: 287px;
  width: 28px;
  height: 23px;
  position: absolute;
} */