.math-page-container {
  min-height: 100vh;
}
.math-page-math-page {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.math-page-headingrectangle4 {
  top: 92px;
  left: 635px;
  width: 624px;
  height: 40px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.math-page-text {
  top: 92px;
  left: 660px;
  color: rgba(255, 255, 255, 1);
  width: 599px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-menubutton {
  top: 45px;
  left: 48px;
  width: 45px;
  height: 47px;
  position: absolute;
}

.math-page-menubuttonhover {
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.math-page-menubutton:hover .math-page-menubuttonhover{
  display: inline;
}
.math-page-quickmenu {
  top: 48px;
  left: 1395px;
  width: 480px;
  height: 37px;
  position: absolute;
  border-color: transparent;
  border-radius: 8.248282432556152px;
}

.math-page-text02 {
  top: 55px;
  left: 1531px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-text02:hover{
  text-decoration: underline overline;
}

.math-page-texthome {
  top: 55px;
  left: 1445px;
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-texthome:hover{
  text-decoration: underline overline;
}

.math-page-text04 {
  top: 55px;
  left: 1616px;
  color: rgba(255, 255, 255, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-text04:hover{
  text-decoration: underline overline;
}

.math-page-text06 {
  top: 55px;
  left: 1725px;
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-text06:hover{
  text-decoration: underline overline;
}

.math-page-mathfilescard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 789px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

.math-page-mathprojoprescard {
  top: 181px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.math-page-compengfilescard {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}

.math-page-text08 {
  top: 25px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1460px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.math-page-text08:hover{
  text-decoration: underline overline;
}

.math-page-mathprojracard {
  top: 269px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.math-page-compengfilescard1 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 11.326000213623047px;
}
.math-page-text10 {
  top: 25px;
  left: 29px;
  color: rgba(126, 50, 50, 1);
  width: 1478px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.math-page-text10:hover{
  text-decoration: underline overline;
}
.math-page-mathprojpdecard {
  top: 357px;
  left: 93px;
  width: 1747px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.math-page-compengfilescard2 {
  top: 0px;
  left: 0px;
  width: 1747px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-radius: 11.326000213623047px;
}
.math-page-text12 {
  top: 23px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 1692px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.math-page-text12:hover{
  text-decoration: underline overline;
}
.math-page-themeselector {
  top: 39px;
  left: 876px;
  width: 167px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.math-page-themesrectangle {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 30px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(126, 50, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 11.326000213623047px;
}
.math-page-defaulttheme {
  top: 4px;
  left: 11px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.math-page-defaulttheme:hover{
  border-width: 4px;
}

.math-page-bluetheme {
  top: 4px;
  left: 45px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.math-page-bluetheme:hover{
  border-width: 4px;
}

.math-page-blacktheme {
  top: 4px;
  left: 135px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.math-page-blacktheme:hover{
  border-width: 4px;
}

.math-page-greentheme {
  top: 4px;
  left: 105px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.math-page-greentheme:hover{
  border-width: 4px;
}

.math-page-orangetheme {
  top: 4px;
  left: 75px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}

.math-page-orangetheme:hover{
  border-width: 4px;
}
